/* line 61, ../../../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 75%;
}

/* line 64, ../../../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 12px;
  line-height: 1.66667em;
}

/* line 8, ../sass/styles.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: justify;
  color: black;
  color: #222222;
}

/* line 15, ../sass/styles.sass */
pre {
  font-size: 0.8em;
  line-height: 1.04167em;
  margin-top: 1.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.66667em;
  padding: 0 3.33333em;
  white-space: pre-wrap;
  word-wrap: break-word;
  page-break-inside: avoid;
}

/* line 23, ../sass/styles.sass */
code {
  font-size: 0.9em;
  line-height: 1.85185em;
  font-family: "DejaVu Sans Mono", monospace;
}

/* line 27, ../sass/styles.sass */
blockquote {
  font-style: italic;
}
/* line 29, ../sass/styles.sass */
blockquote + p {
  text-align: right;
  font-weight: 500;
}

/* line 33, ../sass/styles.sass */
h1, h2 {
  font-weight: 700;
}

/* line 36, ../sass/styles.sass */
h3, h4, h5 {
  font-weight: 500;
}

/* line 39, ../sass/styles.sass */
h1 {
  font-size: 2em;
  line-height: 1.66667em;
  margin-top: 8.33333em;
  text-align: center;
}
/* line 43, ../sass/styles.sass */
h1 + p {
  text-align: center;
  page-break-after: always;
}

/* line 47, ../sass/styles.sass */
h2 {
  font-size: 1.7em;
  line-height: 1.96078em;
  color: #111111;
}

/* line 51, ../sass/styles.sass */
h3 {
  font-size: 1.4em;
  line-height: 2.38095em;
  color: #111111;
}

/* line 55, ../sass/styles.sass */
h4 {
  font-size: 1.1em;
  line-height: 1.51515em;
  margin-top: 1.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.83333em;
  color: #222222;
}
